{% extends "he/base_he.html" %}
{% block title %}SciBook research notes :: CMS {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:50px 20px 30px 10px;" align=left>
<h1>ערוך את התוכן שלך / שפה: <a href="{{ request.path | replace('', '', 1) }}">RU</a> | HE</h1>

{% for ns in namespaces %}
<h3>בתוכן קיים</h3>
<b>{{ ns.namespace }}:</b> <a href="/editspace/chapter:{{ current_user.author }}:{{ ns.namespace }}:0">הוסף פרק</a>
or <a href="/editspace/intro:{{ current_user.author }}:{{ ns.namespace }}">ערוך מבוא</a>
<div style="margin:20px 0 0 40px;">
    {% if chapters and chapters[ ns.namespace ] %}
<h3>בחר פרק לעריכה <b>{{ ns.namespace }}</b>:</h3>
 <div style="display: table;">
  <div style="display:table-row;">
    <div style="display:table-cell; width:30px; margin:2px"></div>
    <div style="display:table-cell; width:300px; margin:2px"><i>chapter</i></div>
    <div style="display:table-cell; width:200px; margin:2px"><i>added on</i></div>
    <div style="display:table-cell; width:200px; margin:2px"><i>edited on</i></div>
    <div style="display:table-cell; width:200px; margin:2px"><i>export</i></div>
  </div>
        {% for ch in chapters[ ns.namespace ]  %}
            {% set lst = ch.split('|') %}
            {% set color = '#E6E5FF' %}
            {% set num = loop.index %}
            {% if num%2 == 1 %}
                {% set color = '#f7f7f7' %}
            {% endif %}
  <div style="display:table-row;background:{{ color }}">
    <div style="display:table-cell; width:30px; padding:2px; padding: 0 5px 0 5px">{{ loop.index }}.</div>
    <div style="display:table-cell; width:300px; padding:2px">
        <a href="/editspace/chapter:{{ current_user.author }}:{{ ns.namespace }}:{{ lst[1] }}">{{ lst[0] }}</a>
    </div>
    <div style="display:table-cell; width:200px; padding:2px">{{ lst[2] }}</div>
    <div style="display:table-cell; width:200px; padding:2px">{{ lst[3] }}</div>
    <div style="display:table-cell; width:200px; padding:2px"><a href="/editspace/export_json:{{ current_user.author }}:{{ ns.namespace }}:{{ lst[1] }}" class="pointer linknav" title="export '{{ lst[0] }}' to json">[↑]</a></div>
  </div>
        {% endfor %}
 </div>
    {% endif %}
</div>
{% endfor %}
<h3>הוסף נושא חדש</h3>
<a href="/editspace/intro:{{ current_user.author }}:0">צור מרחב שמות חדש</a>

{% endblock %}
