{% extends "he/base_he.html" %}
{% block title %}SciBook :: contact / כתבו לנו {% endblock %}
{% block content %}
<div>
  <h1>כתבו לנו</h1>
  <form action="/contact/" method="POST" name="cform">
    {{ cform.hidden_tag() }}
    <div class="form-group">
      <label class="sr-only" for="contacts-subject">נושא</label>
      <input type="text" placeholder="נושא" name="subject" value="{{ subject }}" class="form-control form-group" required>
    </div>
    <div class="form-group">
      <label class="sr-only" for="contacts-msg">שם או כתובת דוא"ל</label>
      <input id="contacts-msg" type="text" placeholder='שם או כתובת דוא"ל' name="email" value="{{ email }}" class="form-control form-group" required>
    </div>
    <div class="form-group">
      <label class="sr-only" for="contacts-msg">הודעה</label>
      <textarea id="contacts-msg" name="msg" class="form-control form-group" placeholder="הודעה" rows="6" required>{{ msg }}</textarea>
    </div>
    <div class="form-group form-inline text-right">
      <label class="sr-only" for="captcha">מספרים מהתמונה</label>
      <span class="btn-group form-group">{{ captcha() }}</span>
      <input id="captcha" type="text" name="captcha" placeholder="מספרים מהתמונה" class="form-control" required>
    </div>

</div>
<button type="submit" class="btn btn-default">שלח</button>
</form>
</div>
{% endblock %}
