 <ol>
    {% for pnt in idata.points|sort(attribute='num') %}
        <li style="margin:10px 15px 0 -20px; text-align:justify">{{ pnt.item | rehref | safe  }}
    {% endfor %}
  </ol>
    <div style="margin:1%" align=left>
    <h3>{{ idata.ref_header }}</h3>
    <p style="text-align:justify">{{ idata.ref_intro | safe }}
        {% for item in idata.refs %}
            <h4>{{ item.ref_title }}</h4>
            {{ item.ref_digest | rehref | safe  }}
            <ol>
            {% for ref in item.ref_pool %}
                <li style="margin:10px"><a href={{ ref.link }}>{{ ref.title }}</a> <small>{{ ref.linktype }}</small>
                <div style="text-align:justify">{{ ref.digest | rehref | safe }}</div>
            {% endfor %}
            </ol>
        {% endfor %}

    </div>
    <div style="margin:10px 2% 10px 2%; text-align:justify">
    {{ idata.summary | rehref | safe  }}
    </div>
    <div style="margin:10px 2% 10px 2%; text-align:justify">
    {% include "he/bottom_nav_he.html" %}
    </div>
<div style="height:10px; margin:10px 5px 0 5px">
    <div style="float:left">
        <a href="#top" style="border:0px; width:11px; margin:5px; text-decoration:none"><font color="#4d4df6" size=4>↑</font></a>
    </div>
    <div style="float:right">
        <a href="#top" style="border:0px; width:11px; margin:5px; text-decoration:none"><font color="#4d4df6" size=4>↑</font></a>
    </div>
</div>
