{% extends "en/base_en.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:60px 20px 30px 50px; width:1100px;" align=left>
<form action="/en/editspace/save_chapter:{{ current_user.author }}:{{ namespace }}:0" method="POST" name="cform" enctype="multipart/form-data">
{{ form.hidden_tag() }}
<h1>Add a chapter in <b>{{ namespace }}</b></h1>
<br>
    <div style="height:25px; width:1010px;">
        <div style="float:left; width:180px">Title: </div>
        <div style="float:right; width:830px;" class="form-group">
            <input type="text" placeholder="Title" name=title size=65> <font color="red">(*)</font> Translated: <input type=checkbox checked></div>
    </div>
    <br>
    <div style="height:25px; width:1010px;">
        <div style="float:left; width:180px">Alias: </div>
        <div style="float:right; width:830px;" class="form-group">
            <input type="text" name=chapter size=35> in latin letters <font color="red">(*)</font></div>
    </div>
    <br>
    <div style="height:75px; width:1010px;">
        <div style="float:left; width:180px">Epigraph text: </div>
        <div style="float:right; width:830px" class="form-group"><textarea rows=3 cols=97 name=ep_text></textarea></div>
    </div>
    <br>
    <div style="height:25px; width:1010px;">
        <div style="float:left; width:180px">Epigraph source: </div>
        <div style="float:right; width:830px" class="form-group" align=right><input type="text" name=ep_source size=75></div>
    </div>
    <br>
    <div style="height:155px; width:1010px;">
        <div style="float:left; width:180px">Introduction: </div> <font color="red">(*)</font> (or 1st point)
        <div style="float:right; width:830px" class="form-group"><textarea rows=7 cols=97 name=intro></textarea></div>
    </div>
    <br>
    <h3>Points:</h3>
    <div id="pnt_target" style="width:1010px;"></div>
    <div style="height:25px; width:1100px;" id="l_0" align="right">
        <a onClick="loadTmpl('#pnt_tmpl', '#pnt_target', '#l_0', 0, 'pcross')" class="linknav pointer">append another point to {{ p_num|join }} point ↑</a>
    </div>
    <br>
    <div style="height:175px; width:1000px;">
        <div style="float:left; width:180px">Summary: </div>
        <div style="float:right; width:820px" class="form-group">
            <textarea rows=7 cols=97 name=summary></textarea></div>
    </div>
    <div style="height:25px; width:980px;">
        <div style="float:left; width:180px"></div>
        <div align=right style="float:right; width:800px">
           <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
</iv>
{% raw %}<script id="srcPool_tmpl" type="x-tmpl-mustache">
    <div style="width:1050px;margin:5px 0 0 50px;" id="srcPool_{{ num }}">
        <hr size=1 style="width:950px; color:#93a8fb; height:1px; background-color:#93a8fb; margin:10px 0 20px 0" align=left>
        <div style="display:cell;margin:-20px 0 0 910px; width:12px; float:right; position:absolute" id=scross>
        <a onClick = "RemoveDiv(
        '#srcPool_{{ num }}', {{ num }}, {{ rnum }}, '#srcLink_tmpl', '#srcPool_target_{{ rnum }}','#src_{{ num }}_{{ rnum }}'
        )" class="pointer linknav"><font color="#4d4df6" size=5>×</font></a>
        </div>
            <div style="height:25px;">
                <div style="float:left; width:220px">Source #{{ a2 }} title: </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name="srcTitle_{{ num }}_{{ rnum }}" size=75>
                </div>
            </div>
            <br>
            <div style="height:25px;">
                <div style="float:left; width:220px">Source #{{ a2 }} link (URL): </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name="srcLink_{{ num }}_{{ rnum }}" size=75>
                </div>
            </div>
            <br>
            <div style="height:25px;">
                <div style="float:left; width:220px">Source #{{ a2 }} paper's ID (pubmed/doi): </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name="srcID_{{ num }}_{{ rnum }}" size=75>
                </div>
            </div>
            <br>
            <div style="height:25px;">
                <div style="float:left; width:220px">Source #{{ a2 }} date: </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name="srcDate_{{ num }}_{{ rnum }}" size=75>
                </div>
            </div>
            <br>
            <div style="height:25px;">
                <div style="float:left; width:220px">Source #{{ a2 }} authors: </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name="srcAuth_{{ num }}_{{ rnum }}" size=75>
                </div>
            </div>
            <br>
            <div style="height:25px;">
                <div style="float:left; width:220px"> Source #{{ a2 }} place (journal): </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name="srcPlace_{{ num }}_{{ rnum }}" size=75>
                </div>
            </div>
            <br>
            <div style="height:25px;">
                <div style="float:left; width:220px">Source #{{ a2 }} type (article/report): </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name="srcType_{{ num }}_{{ rnum }}" size=75>
                </div>
            </div>
        <br>
        <div style="height:40px; width:1010px;" id="src_{{ num }}_{{ rnum }}">
            <a onClick="loadTmpl('#srcPool_tmpl', '#srcPool_target_{{ rnum }}', '#src_{{ num }}_{{ rnum }}', {{ num }}, 'scross', {{ rnum }})" class="linknav pointer">add one more {{ num }}-source to {{ rnum }}-point</a>
            <hr size=1 style="width:1000px; color:grey; height:1px; background-color:grey; margin:10px 0 20px 0"  align=left>
        </div>
    </div>
    <div id="srcPool_target_{{ rnum }}" style="width:1050px;"></div>
</script>

<script id="srcLink_tmpl" type="x-tmpl-mustache">
    <div style="height:40px; width:1010px;" id="src_{{ num }}_{{ rnum }}">
        <a onClick="loadTmpl('#srcPool_tmpl', '#srcPool_target_{{ rnum }}', '#src_{{ num }}_{{ rnum }}', {{ num }}, 'scross', {{ rnum }})" class="linknav pointer">add one more {{ num }}-source to {{ rnum }}-point</a>
    <hr size=1 style="width:1000px; color:grey; height:1px; background-color:grey; margin:10px 0 20px 0"  align=left>
    </div>
</script>

<script id="imgPool_tmpl" type="x-tmpl-mustache">
    <div style="width:1050px;margin:5px 0 0 50px;" id="imgPool_{{ num }}">
    <hr size=1 style="width:950px; color:#93a8fb; height:1px; background-color:#93a8fb; margin:10px 0 20px 0"  align=left>
        <div style="display:cell;margin:-20px 0 0 910px; width:12px; float:right; position:absolute" id=icross>
        <a onClick = "RemoveDiv(
        '#imgPool_{{ num }}', {{ num }}, {{ rnum }}, '#imgLink_tmpl', '#imgPool_target_{{ rnum }}','#img_{{ num }}_{{ rnum }}'
        )" class="pointer linknav"><font color="#4d4df6" size=5>×</font></a>
        </div>
            <div style="height:25px;">
                <div style="float:left; width:220px">Image #{{ a2 }} link (URL): </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" placeholder="http://" name="imgLink_{{ num }}_{{ rnum }}" size=75></div>
            </div>
            <br>
            <div style="height:25px;">
                <div style="float:left; width:220px">Image #{{ a2 }} source (URL): </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" placeholder="http://" name="imgSrcURL_{{ num }}_{{ rnum }}" size=75></div>
            </div>
            <br>
            <div style="height:25px;">
                <div style="float:left; width:220px">Image #{{ a2 }} source title: </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name="imgSrcTitle_{{ num }}_{{ rnum }}" size=75></div>
            </div>
            <br>
            <div style="height:50px;">
                <div style="float:left; width:220px">Image #{{ a2 }} description: </div>
                <div style="float:right; width:820px;" class="form-group">
                    <textarea rows=2 cols=87 name=imgDescr_{{ num }}_{{ rnum }}></textarea>
                </div>
            </div>
        <br>
        <div style="height:40px; width:1010px;" id="img_{{ num }}_{{ rnum }}">
            <a onClick="loadTmpl('#imgPool_tmpl', '#imgPool_target_{{ rnum }}', '#img_{{ num }}_{{ rnum }}', {{ num }}, 'icross', {{ rnum }})" class="linknav pointer">add one more {{ num }}-image to {{ rnum }}-point</a>
        <hr size=1 style="width:1000px; color:grey; height:1px; background-color:grey; margin:10px 0 30px 0"  align=left>
        </div>
    </div>
    <div id="imgPool_target_{{ rnum }}" style="width:1000px;"></div>
</script>

<script id="imgLink_tmpl" type="x-tmpl-mustache">
    <div style="height:40px; width:1010px;" id="img_{{ num }}_{{ rnum }}">
        <a onClick="loadTmpl('#imgPool_tmpl', '#imgPool_target_{{ rnum }}', '#img_{{ num }}_{{ rnum }}', {{ num }}, 'icross', {{ rnum }})" class="linknav pointer">add one more {{ num }}-image to {{ rnum }}-point ↑</a>
    <hr size=1 style="width:1000px; color:grey; height:1px; background-color:grey; margin:10px 0 30px 0"  align=left>
    </div>
</script>

<script id="pnt_tmpl" type="x-tmpl-mustache">
    <div style="height:100%; width:1100px;" id="pnt_{{ rnum }}">
    <hr size=1 style="width:1100px; color:#93a8fb; height:1px; background-color:#93a8fb; margin:20px 0 20px 0px" align=left>
         <div style="display:cell;margin:-20px 0 0 1080px; width:12px; float:right; position:absolute" id=pcross>
            <a onClick = "javascript:RemoveDiv('#pnt_{{ rnum }}')" class="pointer linknav"><font color="#4d4df6" size=5>×</font></a>
        </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px"><b>Point #{{ rnum }}</b>:</div>
                <div style="float:right; width:710px"> </div>
            </div>
            <br>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">Header (of next point(s)):</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointHeader_{{ rnum }} size=95>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">Digest:</div>
                <div style="float:right; width:710px" class="form-group">
                    <textarea rows=7 cols=97 name=pointDigest_{{ rnum }}></textarea>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">Title (paper's title):</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointTitle_{{ rnum }} size=95>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">Link (to the paper):</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" placeholder="http://" name=pointLink_{{ rnum }} size=95>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">Type (article/media/report):</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointType_{{ rnum }} size=35>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">paper's ID (pubmed/doi/PMC):</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointPID_{{ rnum }} size=8>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">paper's date:</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointPdate_{{ rnum }} size=8>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">paper's authors:</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointPauths_{{ rnum }} size=95>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">publication place (journal/channel):</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointPub_{{ rnum }} size=95>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">geo location:</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointGeo_{{ rnum }} size=95>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">tags:</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointTags_{{ rnum }} size=95>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">image:</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointImage_{{ rnum }} size=95>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">image source: (link)</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointIsource_{{ rnum }} size=95>
                </div>
            </div>
            <div style="display:table-row;width:1000px">
                <div style="float:left;width:250px" class="form-group">image description:</div>
                <div style="float:right; width:710px" class="form-group">
                    <input type="text" name=pointIdescr_{{ rnum }} size=95>
                </div>
            </div>

            <div id="imgPool_target_{{ rnum }}" style="width:1000px;"></div>
            <div style="height:50px; width:900px;" id="img_{{ num }}_{{ rnum }}">
                <a onClick="loadTmpl('#imgPool_tmpl', '#imgPool_target_{{ rnum }}', '#img_{{ num }}_{{ rnum }}', {{ num }}, 'icross', {{ rnum }})" class="linknav pointer">add one more {{ num }}-image to {{ rnum }}-point</a>
                <hr size=1 style="width:1000px; color:grey; height:1px; background-color:grey; margin:10px 0 20px 0"  align=left>
            </div>
            <div id="srcPool_target_{{ rnum }}" style="width:1000px;"></div>
            <div style="height:50px; width:900px;" id="src_{{ num }}_{{ rnum }}">
                <a onClick="loadTmpl('#srcPool_tmpl', '#srcPool_target_{{ rnum }}', '#src_{{ num }}_{{ rnum }}', {{ num }}, 'scross', {{ rnum }})" class="linknav pointer">add one more {{ num }}-source to {{ rnum }}-point</a>
            <hr size=1 style="width:1000px; color:grey; height:1px; background-color:grey; margin:10px 0 20px 0"  align=left>
            </div>
        </div>
</script>
{% endraw %}
<script>
$(document).ready(function() {
    loadTmpl('#imgPool_tmpl', '#imgPool_target_1', '#img_1', 0, 'icross', 0);
    loadTmpl('#srcPool_tmpl', '#srcPool_target_1', '#src_1', 0, 'scross', 0);
    loadTmpl('#pnt_tmpl', '#pnt_target', '#p_1', 0, 'pcross', 0);
});
function RemoveDiv(div, num, rnum, thtml, target, pdiv) {
    $( div ).remove();
    $( pdiv ).remove();
    template = $(thtml).html();
    num = num - 1;
    $(target).append(Mustache.render(template, {num: num, rnum: rnum}));
}
function loadTmpl(thtml, target, div, cnt, id, rcnt) {
    if (rcnt == 0 || id == 'pcross') {
        rcnt = $("div[id^=pnt_]").length;
        cnt = 0
    }
    $( div ).remove();
    cnt += 1;
    template = $(thtml).html();
    Mustache.parse(template);
    $(target).append(Mustache.render(template, {num: cnt, rnum: rcnt}));
}
</script>
{% endblock %}
