{% extends "en/base_en.html" %}
{% block title %}SciBook research notes :: analyst space{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<style>
input {background: #FFF; border-top:1px solid #222; border-left:1px solid #222; border-bottom:1px solid #aaa; border-right: 1px solid #999;}
</style>

<div style="margin:50px 20px 30px 50px; width:1100px;" align=left>
<form action="/en/editspace/save_intro:{{ current_user.author }}:{{ items.namespace }}" method="POST" name="sform">
{{ form.hidden_tag() }}
<h1>Edit introduction for the topic <b>{{ items.subject }}</b> (<b>{{ items.namespace }}</b>)</h1>
<div align=right><a href="/en/editspace/export_json_intro:{{ current_user.author }}:{{ items.namespace }}" class="pointer linknav">Export Json</a></div>
<br>
    <div style="height:25px; width:1010px;">
        <div style="float:left; width:180px">Subject (research title): </div>
        <div style="float:right; width:830px;" class="form-group">
            <input type="text" placeholder="Subject" name=subject size=95 value="{{ items.subject }}"
            data-validation="length alphanumeric" data-validation-length="min3"> <font color="red">(*)</font></div>
    </div>
    <br>
        <div style="float:left; width:180px">Namespaces: </div>
        <div style="float:right; width:830px;" class="form-group">{{ items.namespace }}
            {% for l in items.langs %}
                {% set ns = "namespace_" + l %}
                {% if l != "en" %}
            <br><input style="line-height:25px" type="text" name={{ ns }} size=20 value={{ namespaces[l] }}> <font color="darkblue">{{ l }}</font>
                {% endif %}
            {% endfor %}
            <a onClick="loadTmpl('#lang_tmpl', '#lng_target', '#lng_0', 0, 'llcross', 0)" class="linknav pointer">add language</a>
            <div id="lng_target"></div>
            </div>
        </div>
    <br>
    <div style="height:75px; width:1010px;">
        <div style="float:left; width:180px">Epigraph text: </div>
        <div style="float:right; width:830px" class="form-group">
            <textarea rows=3 cols=97 name=ep_text>{% if items.epigraph and items.epigraph.text %}{{ items.epigraph.text }}{% endif %}
            </textarea>
        </div>
    </div>
    <br>
    <div style="height:25px; width:1010px;">
        <div style="float:left; width:180px">Epigraph source: </div>
        <div style="float:right; width:830px" class="form-group" align=right>
            <input type="text" name=ep_source size=75 value="{% if items.epigraph and items.epigraph.source %}{{ items.epigraph.source }}{% endif %}">
        </div>
    </div>

    <br>
    <div style="height:155px; width:1010px;">
        <div style="float:left; width:180px">Short introduction: </div>
        <div style="float:right; width:830px" class="form-group"><textarea rows=7 cols=97 name=intro>{{ items.intro }}</textarea></div>
    </div>
    <br>
    <div>
    {% set p_num = [1] %}
    {% for p in items.points %}
    <div style="height:195px; width:1000px;" id="p_{{ p.num }}">
        <div style="float:left; width:180px">Point #{{ p.num }}:</div>
        <div style="float:right; width:820px" class="form-group">
            <textarea rows=7 cols=97 name=points_{{ p.num }}>{{ p.item }}</textarea>
        </div>
        <div style="display:cell;margin-left:1090px; width:12px; float:right; position:absolute" id=pcross>
            <a onClick = "javascript:RemoveDiv('#p_{{ p.num }}')" class="pointer linknav"><font color="#4d4df6" size=5>×</font></a>
        </div>
    </div>
    {% if p_num.append(p_num.pop() + 1) %}{% endif %}
    {% endfor %}
    </div>
    <div id="pnt_target" style="width:1010px;"></div>
        <div style="height:25px; width:980px;" id="l_{{ p_num|join }}">
            <div style="float:left; width:180px"></div>
            <div align="right" style="float:right; width:800px" id="p_{{ p_num|join }}">
                <a onClick="loadTmpl('#pnt_tmpl', '#pnt_target', '#l_{{ p_num|join }}', {{ p_num|join }}, 'pcross')" class="linknav pointer">add another point</a>
            </div>
        </div>

    <hr size=1 style="width: 100%; color:#93a8fb; height:1px; background-color:#93a8fb; margin:0" align=center>
            <div style="margin:5px">
            <h3>Introduction references:</h3>
            <div style="height:25px; width:1000px;">
                <div style="float:left; width:180px">References header: </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name=ref_header size=95 value="{{ items.ref_header }}"></div>
            </div>
            <br>
            <div style="height:115px; width:1000px;">
                <div style="float:left; width:180px">References intro: </div>
                <div style="float:right; width:820px" class="form-group">
                    <textarea rows=5 cols=97 name=ref_intro>{{ items.ref_intro }}</textarea>
                </div>
            </div>
            <div style="margin:0 0 0 50px"><h4><u>References</u>:</h4>
                <div id="refs_target" style="width:1000px;"></div>
            </div>
    {% set r_num = [1] %}
    {% for r in items.refs %}
    <div style="width:1000px;" id="ref_{{ r_num|join }}">
        <div style="display:cell;margin-left:1000px; width:12px; float:right; position:absolute" id=rcross>
            <a onClick = "javascript:RemoveDiv('#ref_{{ r_num|join }}')" class="pointer linknav"><font color="#4d4df6" size=5>×</font></a>
        </div>
        <hr size=1 style="width: 98%; color:#93a8fb; height:1px; background-color:#93a8fb; margin:10px 0 10px 0" align=left>
                <div style="height:25px; width:1000px;" id="rcnt">
                    <div style="float:left; width:200px">RefBlock #{{r_num|join}} title: </div>
                    <div style="float:right; width:800px;" class="form-group">
                        <input type="text" name="refBlockTtl_{{ r_num|join }}" size=86 value="{{ r.ref_title }}"></div>
                </div>
                <br>
                <div style="height:115px; width:1000px;">
                    <div style="float:left; width:200px">RefBlock #{{r_num|join}} digest:</div>
                    <div style="float:right; width:800px" class="form-group">
                        <textarea rows=5 cols=88 name="refBlockDigest_{{ r_num|join }}">{{ r.ref_digest }}</textarea>
                    </div>
                </div>
                <div style="height:115px; width:1000px;">
                    <div style="float:left; width:200px">RefBlock #{{r_num|join}} type:</div>
                    <div style="float:right; width:800px" class="form-group">
                        <input type="text" name="refBlockType_{{ r_num|join }}" size=86 value="{{ r.ref_type }}">
                    </div>
                </div>
                <h4>References block #{{r_num|join}} links:</h4>
                {% set l_num = [1] %}
                {% for l in r.ref_pool %}
                <div style="margin:0 0 0 50px;">
                    <div style="height:25px; width:940px;">
                        <div style="float:left; width:120px">Link #{{ l_num|join }} title: </div>
                        <div style="float:right; width:820px;" class="form-group">
                            <input type="text" name="linkTitle_{{ l_num|join }}_{{ r_num|join }}" size=75 value="{{ l.title }}"></div>
                    </div>
                    <br>
                    <div style="height:25px; width:940px;">
                        <div style="float:left; width:120px">Link #{{ l_num|join }} URL: </div>
                        <div style="float:right; width:820px;" class="form-group">
                            <input type="text" name="linkURL_{{ l_num|join }}_{{ r_num|join }}" size=75 value="{{ l.link }}"></div>
                    </div>
                    <br>
                    <div style="height:25px; width:940px;">
                        <div style="float:left; width:120px">Link #{{ l_num|join }} author: </div>
                        <div style="float:right; width:820px;" class="form-group">
                            <input type="text" name="linkAuthor_{{ l_num|join }}_{{ r_num|join }}" size=35 value="{{ l.author }}"> i.e. article, media, report</div>
                    </div>
                    <br>
                    <div style="height:25px; width:940px;">
                        <div style="float:left; width:120px">Link #{{ l_num|join }} type: </div>
                        <div style="float:right; width:820px;" class="form-group">
                            <input type="text" name="linkType_{{ l_num|join }}_{{ r_num|join }}" size=35 value="{{ l.linktype }}"> i.e. article, media, report</div>
                    </div>
                    <br>
                    <div style="height:130px; width:940px;">
                        <div style="float:left; width:120px">Link #{{ l_num|join }} digest:</div>
                        <div style="float:right; width:820px" class="form-group">
                            <textarea rows=5 cols=77 name="linkDigest_{{ l_num|join }}_{{ r_num|join }}">{{ l.digest }}</textarea>
                        </div>
                    </div>
                </div>
                {% if l_num.append(l_num.pop() + 1) %}{% endif %}
                {% endfor %}
                <div style="height:15px; width:810px;" id="ln_{{ l_num|join }}_{{ r_num|join }}">
                    <div style="float:left; width:160px;"></div>
                    <div align=right style="float:right; width:650px;margin-top:-10px">
                        <a onClick="loadTmpl('#lnk_tmpl', '#lnk_target_{{ r_num|join }}', '#ln_{{ l_num|join }}_{{ r_num|join }}', {{ l_num|join }}, 'lcross', {{ r_num|join }})"
                            class="linknav pointer">add one more {{ l_num|join }}-link to {{ r_num|join }}-RefBlock</a>
                    </div>
                </div>
                <div id="lnk_target_{{ r_num|join }}" style="width:1000px;"></div>
            </div>
    </div>
    {% if r_num.append(r_num.pop() + 1) %}{% endif %}
    {% endfor %}
    <div id="refs_target" style="width:1000px;"></div>
    <div style="height:25px; width:1000px;" id="rln_1">
        <div style="float:left; width:180px"></div>
        <div align=right style="float:right; width:820px">
        <a onClick="loadTmpl('#refs_tmpl', '#refs_target', '#rln_{{ r_num|join }}', 1, 'rcross', {{ r_num|join }})" class="linknav pointer">add next refBlock</a>
        </div>
    </div>
    <br>
    <div style="height:175px; width:1000px;">
        <div style="float:left; width:180px">Summary: </div>
        <div style="float:right; width:820px" class="form-group"><textarea rows=7 cols=97 name=summary>{{ items.summary }}</textarea></div>
    </div>
    <div style="height:25px; width:980px;">
        <div style="float:left; width:180px" id=form_info> </div>
        <div align=right style="float:right; width:800px"><button type="submit" class="btn btn-default">Submit</button></div>
    </div>
</form>
</div>
{% raw %}
<script id="pnt_tmpl" type="x-tmpl-mustache">
    <div style="height:195px; width:1000px;" id="p_{{ num }}">
        <div style="float:left; width:180px">Point #{{ num }}: </div>
        <div style="float:right; width:820px" class="form-group"><textarea rows=7 cols=97 name=points_{{ num }}></textarea></div>
        <div style="display:cell;margin-left:1010px; width:12px; float:right; position:absolute" id=pcross>
            <a onClick = "javascript:RemoveDiv('#p_{{ num }}')" class="pointer linknav"><font color="#4d4df6" size=5>×</font></a>
        </div>
    </div>
        <div style="height:25px; width:980px;" id="l_{{ num }}">
            <div style="float:left; width:180px"></div>
            <div align="right" style="float:right; width:800px" id="p_{{ num }}">
                <a onClick="loadTmpl('#pnt_tmpl', '#pnt_target', '#l_{{ num }}', {{ num }}, 'pcross')" class="linknav pointer">add one more point</a>
            </div>
        </div>
</script>
<script id="lnk_tmpl" type="x-tmpl-mustache">
    <div style="width:880px;height:100%" id="lnk_{{ num }}">
        <div style="display:cell;margin:5px 0 0 850px; width:12px; float:right; position:absolute" id=lcross>
            <a onClick = "javascript:RemoveDiv('#lnk_{{ num }}')" class="pointer linknav"><font color="#4d4df6" size=5>×</font></a>
        </div>
        <hr size=1 style="width:94%; color:#93a8fb; height:1px; background-color:#93a8fb; margin:20px 0 20px 40px" align=left>
            <div style="height:25px; width:940px;">
                <div style="float:left; width:120px">Link #{{ num }} title: </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name="linkTitle_{{ num }}_{{ rnum }}" size=75></div>
            </div>
            <br>
            <div style="height:25px; width:940px;">
                <div style="float:left; width:120px">Link #{{ num }} URL: </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" placeholder="http://" name="linkURL_{{ num }}_{{ rnum }}" size=75></div>
            </div>
            <br>
            <div style="height:25px; width:940px;">
                <div style="float:left; width:120px">Link #{{ num }} author: </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name="linkAuthor_{{ num }}_{{ rnum }}" size=35> i.e. article, media, report</div>
            </div>
            <br>
            <div style="height:25px; width:940px;">
                <div style="float:left; width:120px">Link #{{ num }} type: </div>
                <div style="float:right; width:820px;" class="form-group">
                    <input type="text" name="linkType_{{ num }}_{{ rnum }}" size=35> i.e. article, media, report, torrent</div>
            </div>
            <br>
            <div style="height:130px; width:940px;">
                <div style="float:left; width:120px">Link #{{ num }} digest:</div>
                <div style="float:right; width:820px" class="form-group">
                    <textarea rows=5 cols=77 name="linkDigest_{{ num }}_{{ rnum }}"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div id="lnk_target_{{ rnum }}" style="width:1000px;"></div>
    <div style="height:15px; width:810px;" id="ln_{{ num }}_{{ rnum }}">
           <div style="float:left; width:160px;"></div>
           <div align=right style="float:right; width:650px;margin-top:-10px">
               <a onClick="loadTmpl('#lnk_tmpl', '#lnk_target_{{ rnum }}', '#ln_{{ num }}_{{ rnum }}', {{ num }}, 'lcross', {{ rnum }})"
               class="linknav pointer">add next {{ num }}-link to {{ rnum }}-RefBlock</a>
           </div>
    </div>
</script>
<script id="refs_tmpl" type="x-tmpl-mustache">
    <div style="width:1000px;" id="ref_{{ rnum }}">
        <div style="display:cell;margin-left:960px; width:12px; float:right; position:absolute" id=rcross>
            <a onClick = "javascript:RemoveDiv('#ref_{{ rnum }}')" class="pointer linknav"><font color="#4d4df6" size=5>×</font></a>
        </div>
        <hr size=1 style="width: 98%; color:#93a8fb; height:1px; background-color:#93a8fb; margin:10px 0 10px 0" align=left>
                <div style="height:25px; width:1000px;" id="rcnt">
                    <div style="float:left; width:200px">RefBlock #{{rnum}} title: </div>
                    <div style="float:right; width:800px;" class="form-group">
                        <input type="text" placeholder="{{ num }}_{{ rnum }}" name="refBlockTtl_{{ rnum }}" size=86></div>
                </div>
                <br>
                <div style="height:115px; width:1000px;">
                    <div style="float:left; width:200px">RefBlock #{{rnum}} digest:</div>
                    <div style="float:right; width:800px" class="form-group">
                        <textarea rows=5 cols=88 name="refBlockDigest_{{ rnum }}"></textarea>
                    </div>
                </div>
                <div style="height:115px; width:1000px;">
                    <div style="float:left; width:200px">RefBlock #{{rnum}} type:</div>
                    <div style="float:right; width:800px" class="form-group"><input type="text" name="refBlockType_{{ rnum }}" size=86></div>
                </div>
                <h4>References block #{{rnum}} links:</h4>
                <div style="margin:0 0 0 50px;">
                    <div style="height:25px; width:940px;">
                        <div style="float:left; width:120px">Link #{{ num }} title: </div>
                        <div style="float:right; width:820px;" class="form-group">
                            <input type="text" name="linkTitle_{{ num }}_{{ rnum }}" size=75></div>
                    </div>
                    <br>
                    <div style="height:25px; width:940px;">
                        <div style="float:left; width:120px">Link #{{ num }} URL: </div>
                        <div style="float:right; width:820px;" class="form-group">
                            <input type="text" placeholder="http://" name="linkURL_{{ num }}_{{ rnum }}" size=75></div>
                    </div>
                    <br>
                    <div style="height:25px; width:940px;">
                        <div style="float:left; width:120px">Link #{{ num }} author: </div>
                        <div style="float:right; width:820px;" class="form-group">
                            <input type="text" name="linkAuthor_{{ num }}_{{ rnum }}" size=35> i.e. article, media, report</div>
                    </div>
                    <br>
                    <div style="height:25px; width:940px;">
                        <div style="float:left; width:120px">Link #{{ num }} type: </div>
                        <div style="float:right; width:820px;" class="form-group">
                            <input type="text" name="linkType_{{ num }}_{{ rnum }}" size=35> i.e. article, media, report</div>
                    </div>
                    <br>
                    <div style="height:130px; width:940px;">
                        <div style="float:left; width:120px">Link #{{ num }} digest:</div>
                        <div style="float:right; width:820px" class="form-group">
                            <textarea rows=5 cols=77 name="linkDigest_{{ num }}_{{ rnum }}"></textarea>
                        </div>
                    </div>
                </div>
                <div style="height:15px; width:810px;" id="ln_{{ num }}_{{ rnum }}">
                        <div style="float:left; width:160px;"></div>
                        <div align=right style="float:right; width:650px;margin-top:-10px">
                            <a onClick="loadTmpl('#lnk_tmpl', '#lnk_target_{{ rnum }}', '#ln_{{ num }}_{{ rnum }}', {{ num }}, 'lcross', {{ rnum }})"
                            class="linknav pointer">add one more {{ num }}-link to {{ rnum }}-RefBlock</a>
                        </div>
                </div>
                <div id="lnk_target_{{ rnum }}" style="width:1000px;"></div>
            </div>
            <div style="height:25px; width:1000px;" id="rln_{{ rnum }}">
                <div style="float:left; width:180px"></div>
                <div align=right style="float:right; width:820px">
                    <a onClick="loadTmpl('#refs_tmpl', '#refs_target', '#rln_{{ rnum }}', 0, 'rcross', {{ rnum }})"
                    class="linknav pointer">add next refBlock</a>
                </div>
            </div>
    </div>
</script>
{% endraw %}
<script type=text/javascript src="https://www.scibook.org{{ url_for('static', filename='js/jquery.form-validator.min.js') }}"></script>
<script>
  $.validate({
    lang: 'en'
  });

function RemoveDiv(div) {
    $( div ).remove();
}
function loadTmpl(thtml, target, div, cnt, id, rcnt) {
    if (cnt != 0 && id == 'pcross') {
        cnt = $("div[id=" + id + "]").length;
    }
    if (rcnt == 0 || id == 'rcross') {
        rcnt = $("div[id^=ref_]").length + 1;
        cnt = 0
    }
    $( div ).remove();
    cnt += 1;
    template = $(thtml).html();
    Mustache.parse(template);
    $(target).append(Mustache.render(template, {num: cnt, rnum: rcnt}));
}
</script>
{% endblock %}
