{% extends "en/base_en.html" %}
{% block title %}SciBook: analysis of published information from the sources; vaccinations and infections{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:55px 1% 10px 0; height:100%" align=left>
<h2 style="color:#52398C;">Welcome!</h2>
<p style="font-size:110%">We suggest to your attention <b style="color:#8389f9;">SciBook</b> — here we analyze various interesting and important topics, based on reliable sources, trying to adhere to scientific information. We put references to all our sources so that everyone can check and make up their own opinion or correct us. Do not believe us - Check it out for yourself!<br>
Let's start with one of the most important, may be, topics: health in the context of the mandatory vaccinations.
<p style="font-size:110%;"><u>Vaccinations</u>: what they are for, what is their effect, how they are designed and produced, what side effects can there be? Almost any medication has side effects. And vaccinations are hardly an exception.
<p style="font-size:110%;">It does not matter how much time you have to study the material - your motivation is important: your children's health and / or curiosity.
<br>Thus…


<hr size=1 style="width: 70%; color:#93a8fb; height:1px; background-color:#93a8fb; margin:2% 0 0 15%" align=center>

{% for entry in data %}
            <h4 style="text-align:right;padding-bottom:10px"><a href="" class="linknav">{{ entry.analyst }}</a></h4>
            <h1 style="margin:-25px 0 0 0 ">{{ entry.subject }}</h1>
            <div  style="margin:0 0 10px 0" align=right><small>{{ entry.epigraph.text | safe }}<br>
            <i>{{ entry.epigraph.source }}</i></small>
            </div>
            <p style="text-align:justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ entry.intro | rehref | safe }}
            <div style="margin:10px 0 0 0; font-size:17px;height:30px;">
                <div style="float:left; margin-left:-3px">
                    <a id="opentxt" href="/intro/{{ entry.namespace }}" class="linknav">Introduction</a>
                    <div style="display:inline"><span id="none"></span>
                        <span id="ihide" style="display:none; font-size:14px" onClick="javascript:hideDiv('ihide')" >
                            <a onClick="javascript:hideDiv('fill')" href="#" class="linknav">(hide)</a>
                        </span>
                    </div>
                </div>
                <div style="float:right; margin-right:-3px" align=right>
                    <div style="display:inline">
                        <span id="chide" style="display:none; font-size:14px" onClick="javascript:hideDiv('chide')" >
                            <a onClick="javascript:hideDiv('fill')" href="#" class="linknav">(hide)</a>
                        </span>
                    </div>
                    <a id="opencontent" href="/chapters/{{ entry.namespace }}" class="linknav">List of contents</a>
                </div>
            </div>
<hr size=1 style="width: 70%; color:#93a8fb; height:1px; background-color:#93a8fb; margin:1% 0 0 15%" align=center>
<div id="fill" class="boxed_sh" style="display:none;">
    <div id="wait" style="height:25px; display:none; padding:0 5px 0 500px;position:absolute">
        <img src="{{ url_for('static', filename='img/loading.gif') }}" style="margin:0 10px 0 20px" align="right">
    </div>
</div>
<br>
<style>
{% endfor %}
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
</style>
<center>
<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fen.scibook.org&quote=Getting%20into%20vaccination" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="https://www.scibook.org{{ url_for('static', filename='img/socials/Facebook.png') }}" /></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fen.scibook.org&text=Getting%20into%20vaccination:%20https%3A%2F%2Fen.scibook.org%0AThe%20opportunity%20to%20deal%20with%20the%20vaccination%20problem%20itself%20appeared%20only%20a%20few%20years%20ago%E2%80%A6%20before%20that%2C%20almost%20all%20scientific%20research%20was%20inaccessible%20to%20the%20general%20public%E2%80%A6" target="_blank" title="Tweet"><img alt="Tweet" src="https://www.scibook.org{{ url_for('static', filename='img/socials/Twitter.png') }}" /></a></li>
  <li><a href="https://plus.google.com/share?url=https%3A%2F%2Fen.scibook.org" target="_blank" title="Share on Google+"><img alt="Share on Google+" src="https://www.scibook.org{{ url_for('static', filename='img/socials/Google+.png') }}" /></a></li>
  <li><a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fen.scibook.org&description=The%20opportunity%20to%20deal%20with%20the%20vaccination%20problem%20itself%20appeared%20only%20a%20few%20years%20ago%20thanks%20to%20the%20Kazakh%20student%20Alexandra%20Elbakyan.%20Before%20that%2C%20almost%20all%20scientific%20research%20was%20inaccessible%20to%20the%20general%20public%E2%80%A6" target="_blank" title="Pin it"><img alt="Pin it" src="https://www.scibook.org{{ url_for('static', filename='img/socials/Pinterest.png') }}" /></a></li>
  <li><a href="https://getpocket.com/save?url=https%3A%2F%2Fen.scibook.org&title=Getting%20into%20vaccination" target="_blank" title="Add to Pocket"><img alt="Add to Pocket" src="https://www.scibook.org{{ url_for('static', filename='img/socials/Pocket.png') }}" /></a></li>
  <li><a href="http://www.reddit.com/submit?url=https%3A%2F%2Fen.scibook.org&title=Getting%20into%20vaccination" target="_blank" title="Submit to Reddit"><img alt="Submit to Reddit" src="https://www.scibook.org{{ url_for('static', filename='img/socials/Reddit.png') }}" /></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fen.scibook.org&title=Getting%20into%20vaccination&summary=The%20opportunity%20to%20deal%20with%20the%20vaccination%20problem%20itself%20appeared%20only%20a%20few%20years%20ago%20thanks%20to%20the%20Kazakh%20student%20Alexandra%20Elbakyan.%20Before%20that%2C%20almost%20all%20scientific%20research%20was%20inaccessible%20to%20the%20general%20public%E2%80%A6&source=https%3A%2F%2Fen.scibook.org" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="https://www.scibook.org{{ url_for('static', filename='img/socials/LinkedIn.png') }}" /></a></li>
  <li><a href="http://wordpress.com/press-this.php?u=https%3A%2F%2Fen.scibook.org&quote=Getting%20into%20vaccination&s=The%20opportunity%20to%20deal%20with%20the%20vaccination%20problem%20itself%20appeared%20only%20a%20few%20years%20ago%20thanks%20to%20the%20Kazakh%20student%20Alexandra%20Elbakyan.%20Before%20that%2C%20almost%20all%20scientific%20research%20was%20inaccessible%20to%20the%20general%20public%E2%80%A6" target="_blank" title="Publish on WordPress"><img alt="Publish on WordPress" src="https://www.scibook.org{{ url_for('static', filename='img/socials/Wordpress.png') }}" /></a></li>
  <li><a href="mailto:?subject=Getting%20into%20vaccination&body=The%20opportunity%20to%20deal%20with%20the%20vaccination%20problem%20itself%20appeared%20only%20a%20few%20years%20ago%20thanks%20to%20the%20Kazakh%20student%20Alexandra%20Elbakyan.%20Before%20that%2C%20almost%20all%20scientific%20research%20was%20inaccessible%20to%20the%20general%20public%E2%80%A6:%20https%3A%2F%2Fen.scibook.org" target="_blank" title="Send email"><img alt="Send email" src="https://www.scibook.org{{ url_for('static', filename='img/socials/Email.png') }}" /></a></li>
</ul>
</center>
</div>
<script>
$(document).ready(function() {
  Retrieve('https://en.scibook.org/intro/vaccines?div', "#none");
  $("#opentxt").bind('click', function(event) {
    event.preventDefault();
    Retrieve($(this).attr('href'), "#ihide");
  });
  $("#opencontent").bind('click', function(event) {
    event.preventDefault();
    Retrieve($(this).attr('href'), "#chide");
  });
  function Retrieve(url, hide) {
    $.ajax({
            url: url,
            data: "div",
            contentType: "application/json; charset=utf-8",
            beforeSend: function() {
                $('#wait').show();
            },
            complete: function() {
                $('#wait').hide();
                $(hide).show();
            },
            success: function(result){
                $('#fill').html(result.data).show();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            // if does not work with some browser extension or firewall's blocking async requests etc.
                alert("automatic div view does not work, probably due to installed browser extension");
            }
    });
  }
});
</script>
{% endblock %}



