    <div align=right style="margin:10px 10px 0 0">
        <div style="display:inline; margin:0">
            <small style="background-color:#e1e6f0;margin:5px">{{ idata.date }}</small>
        </div>
        <div style="display:cell;margin-top:-18px; margin-right:-0.5%; width:12px; float:right" onClick="javascript:hideDiv('ihide')">
            <a onClick = "javascript:hideDiv('fill')" style="cursor: pointer; border:0px; width:11px;text-decoration:none"><font color="#4d4df6" size=5>×</font></a>
        </div>
    </div>
<div style="margin:0 0 40px 0">
    {% include "en/points_en.html" %}
</div>

