{% extends "base.html" %}
{% block title %}SciBook: анализ публикуемой информации о прививках{% endblock %}
{% block descr %}Анализ публикуемой научной информации по теме прививок (в контексте обязательной вакцинации){% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
					<div class="main-area">
						<div class="welcome-block">
							<div style="margin:0 0 0 600px; z-index:1500;">{% include "flash.html" %}</div>
							<div class="welcome-block__text">
								<p><b>Добро пожаловать!</b>
								<p>Представляем Вашему вниманию SciBook — здесь мы проводим анализ по различным интересным
									и важным темам, основываясь на достоверных источниках, главным образом научных исследований.
									Мы указываем все наши источники, чтобы каждый мог сам проверить и составить свое мнение
									или исправить нас. Действительно научный анализ не должен содержать пропаганды и опираться
									на веру в авторитеты. И нам не верьте — проверяйте сами!</p>

								<p>Начнём с одной из самых важных, пожалуй, для любого человека темы: его здоровье в
									контексте обязательного назначения прививок.</p>

								<p>Прививки: для чего они, каково их действие, как их производят, какие могут быть побочные
									последствия? Почти любой медпрепарат имеет побочные действия. И прививки — едва ли
									исключение.</p>

								<p>Неважно, сколько у вас есть времени на изучение материала — важна ваша мотивация:
									здоровье ваших детей и/или любознательность.

								<p>Итак…</p>
							</div>
						</div>
						<section class="content-block">
							<header class="content-block__header">
								<h2>Разбираемся с прививками</h2>
								<div class="content-block__author"><a href="#">amantonio</a></div>
							</header>
							<div class="content-block__text">
								<blockquote>
									<p>Vaccination is the leading cause of coincidences</p>
									<b>Brett Wilcox</b>
								</blockquote>
								<p>Когда-то давным-давно, когда я ещё по молодости любил читать газеты, в одном из пятничных
									номеров была опубликована длинная статья о двух лесбиянках. За давностью лет не помню
									точно, о чём там было, но вроде что-то насчёт того, что им не дают узаконить отношения.
									Среди всего прочего, там было написано, что сын одной из них из-за прививки стал аутистом.
									Это сообщалось одной строкой, после чего они продолжили обсуждать лесбийские дела. Меня
									настолько поразила и эта строчка, и то, что они обсуждают такую ерунду, вместо того,
									чтобы обсуждать главное - что ребёнок стал аутистом, да ещё вследствие прививки, что я
									потом долго хранил эту статью, как напоминание о том, что с темой прививок нужно как-нибудь
									основательно разобраться.</p>
							</div>
						</section>
					</div>
{% endblock %}