    <header class="header">
        <div class="header__top clearfix">
            <div class="wrapper">
                <div class="container-fluid">
                    <div class="header__user">
                        <a class="header__login" href="">Вход</a>
                        <a class="header__account" href=""><span class="visually-hidden">Личный кабинет</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="wrapper">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg navbar-light align-items-end p-0" style="background-color: transparent;">
                        <a class="navbar-brand p-0 m-0 header__logo" href="#">
                            <img src={{ url_for('static', filename='img/logo_owl.jpg') }} alt="SciBook">
                        </a>
                        <button class="navbar-toggler header__toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse flex-grow-1" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle header__dropdown p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Прививки
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a href="/intro/vaccines" class="dropdown-item">Введение</a>
          {% for entry in navitems %}
                    <a href="/content/{{ entry.namespace }}/{{ entry.I_S_codename }}" class="dropdown-item">
                    <div style="display:inline-block; min-width:25px; text-align:right; padding-right:5px">{{ loop.index }}.</div>{{ entry.title }}</a>
          {% endfor %}                                        
                                    </div>
                                </li>
                            </ul>

                            <form class="form-inline header__search">
                                <input class="form-control header__search-input" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn my-2 my-sm-0 header__search-btn" type="submit">Search</button>
                            </form>

                            <ul class="navbar-nav ml-auto p-0">
                                <li class="nav-item active">
                                    <a class="nav-link header__feedback-link" href="#">Обратная связь</a>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown header__lang">
                                        <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span>RU</span>
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item"><b>RU</b></a>
                                            <a class="dropdown-item">EN</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>