#masthead {min-height:15px;background-color:#000044;color:#aaaacc;}
.affix-top,.affix{position: static;margin:-10px 0 0 0;}
@media (min-width: 1200px) {
  #sidebar.affix-top {position: static;margin:10px 0 0 0;}
  #sidebar.affix-bottom {position: relative;}
  #sidebar.affix {position: fixed;margin:10px 0 0 0;}
}
a.leftnav, a.rightnav {color:#024d60;text-decoration:none;}
a.leftnav:hover, a.rightnav:hover {color:#3840ea;text-decoration:none;}
li.leftnav {padding:1px}
li.leftnav:hover {color:#3840ea;text-decoration:none;background-color:#f1f1f0;padding:1px}

li.rightnav {padding:1px}
li.rightnav:hover {color:#3840ea;text-decoration:none;background-color:#e1e6f0;padding:1px}

a.linknav {color:#024d60;text-decoration:none;padding:3px}
a.linknav:hover {color:#3840ea;text-decoration:none;background-color:#e1e6f0;padding:3px}
.boxed_sh {
  -moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;border:1px solid #555ce1;margin:15px 0 3px 3px;
  padding: 2px 2px 2px 2px;box-shadow: 4px 4px 6px #ddd;-moz-box-shadow: 4px 4px 6px #ddd;-webkit-box-shadow: 4px 4px 6px #ddd;background:#fff
}
.bootstrap-select > .btn {height: 25px;padding: 1px 14px 1px 7px;}
.tdv {vertical-align: top; width: 4%}
.wrap {font-family: monospace;word-wrap:break-word;}
input.long {width:900px;}
input.short {width:30px; height:14px; margin:5px 0 0 3px;}
.heading{height: 100px;line-height: 50px;margin-top: 10px;position: -webkit-sticky;position: sticky;top: 0px;}
img {max-width: 100%;max-height: 100%;}

.nav-tabs{display:flex;text-align: center; height:40px; width:304px}
.nav-tabs li {display: flex;text-align: center;padding-top:0px;padding-bottom:0px;flex: 1;}
.nav-tabs li a {flex: 1; }
.nav-tabs li.active {flex: 1; margin:0}
.tab-col {border-right:1px solid #c3c6f0;border-left:1px solid #8389f9;border-bottom:1px solid #c3c6f0;
    margin:0px; background:#e1e7f8;overflow-y:auto;
    height:755px;
    overflow-y: auto;
    max-height:800px;}
.tab-col::-webkit-scrollbar {
        width: 0 !important;
    }
.leftmenu{padding:10px 0 10px 10px; margin: 0 10px 0 20px; list-style-type:square}

