{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block descr %}{{ idata[0].I_S_namespace }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<a name="top"></a>
<div align=right>Если вы хотите содействовать переводу содержания этих глав на другой язык — <a href=/contact/>пишите нам</a>!</div>
<div style="margin:57px 1% 30px 0px;" align=left>
    <h1 style="margin:0 0 20px 0">Оглавление</h1>
{% include "chapt_block.html" %}
</div>
{% endblock %}
