{% extends "base.html" %}
{% block title %}SciBook заметки из исследований :: CMS {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:50px 20px 30px 10px;" align=left>
<h1>Ваши материалы / на языке: <b>RU</b> | <a href="https://en.scibook.org{{ request.path | replace('^/', '^/en/', 1) }}" title="English">EN</a>
| <a href="https://he.scibook.org{{ request.path | replace('^/', '^/he/', 1) }}" title="Hebrew">HE</a></li></h1>

{% for ns in namespaces %}
<h4>в текущих материлах:</h4>
<b>{{ ns.namespace }}:</b> <a href="/editspace/chapter:{{ current_user.author }}:{{ ns.namespace }}:0">добавить главу</a>
или <a href="/editspace/intro:{{ current_user.author }}:{{ ns.namespace }}">редактировать введение</a>
<div style="margin:20px 0 0 40px;">
    {% if chapters and chapters[ ns.namespace ] %}
    <p>или
<h4>выбрать главу для редактирования <b>{{ ns.namespace }}</b>:</h4>
 <div style="display: table;">
  <div style="display:table-row;">
    <div style="display:table-cell; width:30px; padding:2px"></div>
    <div style="display:table-cell; width:300px; padding:2px"><i>chapter</i></div>
    <div style="display:table-cell; width:200px; padding:2px"><i>added on</i></div>
    <div style="display:table-cell; width:200px; padding:2px"><i>edited on</i></div>
    <div style="display:table-cell; width:200px; padding:2px"><i>export</i></div>
  </div>
        {% for ch in chapters[ ns.namespace ]  %}
            {% set lst = ch.split('|') %}
            {% set color = '#E6E5FF' %}
            {% set num = loop.index %}
            {% if num%2 == 1 %}
                {% set color = '#f7f7f7' %}
            {% endif %}
  <div style="display:table-row;background:{{ color }}">
    <div style="display:table-cell; width:30px; padding:2px; padding: 0 5px 0 5px">{{ loop.index }}.</div>
    <div style="display:table-cell; width:300px; padding:2px">
        <a href="/editspace/chapter:{{ current_user.author }}:{{ ns.namespace }}:{{ lst[1] }}">{{ lst[0] }}</a>
    </div>
    <div style="display:table-cell; width:200px; padding:2px">{{ lst[2] }}</div>
    <div style="display:table-cell; width:200px; padding:2px">{{ lst[3] }}</div>
    <div style="display:table-cell; width:200px; padding:2px"><a href="/editspace/export_json:{{ current_user.author }}:{{ ns.namespace }}:{{ lst[1] }}" class="pointer linknav" title="export '{{ lst[0] }}' to json">[↑]</a></div>
  </div>
        {% endfor %}
 </div>
    {% endif %}
</div>
<h3>— <a href="/editspace/tags:{{ current_user.author }}:{{ ns.namespace }}:0">управление тэгами</a> в теме <b>{{ ns.namespace }}</b><h3>
{% endfor %}
<h3>— создать новую тему: <a href="/editspace/intro:{{ current_user.author }}:0">заголовок темы, введение</a><h3>
{% endblock %}
