{% extends "base.html" %}
{% block title %}SciBook заметки из исследований :: CMS {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:50px 20px 30px 10px;" align=left>
<h1>Ваши материалы / на языке: RU | <a href="{{ request.path | replace('/', '/en/', 1) }}">EN</a></h1>

{% for ns in namespaces %}
<h4>в текущих материлах:</h4>
<b>{{ ns.namespace }}:</b> <a href="/editspace/chapter:{{ current_user.author }}:{{ ns.namespace }}:0">добавить главу</a>
or <a href="/editspace/intro:{{ current_user.author }}:{{ ns.namespace }}">редактировать введение</a>
<div style="margin:20px 0 0 40px;">
    {% if chapters and chapters[ ns.namespace ] %}
    <p>или
<h4>выбрать главу для редактирования <b>{{ ns.namespace }}</b>:</h4>
 <div style="display: table;">
  <div style="display:table-row;">
    <div style="display:table-cell; width:30px; margin:2px"></div>
    <div style="display:table-cell; width:300px; margin:2px"><i>chapter</i></div>
    <div style="display:table-cell; width:200px; margin:2px"><i>added on</i></div>
    <div style="display:table-cell; width:200px; margin:2px"><i>edited on</i></div>
    <div style="display:table-cell; width:200px; margin:2px"><i>export</i></div>
  </div>
        {% for ch in chapters[ ns.namespace ]  %}
            {% set lst = ch.split('|') %}
  <div style="display:table-row;">
    <div style="display:table-cell; width:30px; margin:2px">{{ loop.index }}.</div>
    <div style="display:table-cell; width:300px; margin:2px">
        <a href="/editspace/chapter:{{ current_user.author }}:{{ ns.namespace }}:{{ lst[1] }}">{{ lst[0] }}</a>
    </div>
    <div style="display:table-cell; width:200px; margin:2px">{{ lst[2] }}</div>
    <div style="display:table-cell; width:200px; margin:2px">{{ lst[3] }}</div>
    <div style="display:table-cell; width:200px; margin:2px"><a href="/editspace/export_json:{{ current_user.author }}:{{ ns.namespace }}:{{ lst[1] }}" class="pointer linknav">[↑]</a></div>
  </div>
        {% endfor %}
 </div>
    {% endif %}
</div>
{% endfor %}
<br>or
<h4>создать новую тему для анализа:</h4>
<a href="/editspace/intro:{{ current_user.author }}:0">создать пространство имён (наименование темы, введение)</a>
<br>or
<h4>редактировать тэги для навигации:</h4>
<a href="/editspace/tags:{{ current_user.author }}:0">перевод наименований новых и существующих тэгов</a>
{% endblock %}
