    <hr size=1 style="width:500px; color:#93a8fb; height:1px; background-color:#93a8fb; margin:0 0 10px 0px" align=left>
        <div style="height:100%; padding: 0 10px 0 0" id="p_{{ p._id }}">
            <div style="display:table-row; height:25px;"><b>Tag #{{ p_num|join }}</b>:</div>
{% if new == 1 %}
            <div style="float:right; margin: 0 50px 0 0"><a title="remove a tag permanently"
            onClick="javascript:RemoveIt('#p_{{ p._id }}', '{{ p.I_S_codename }}')" class="pointer linknav">x</a></div>
{% else %}
            <div style="float:right; margin: 0 50px 0 0"><a title="detach a tag"
            onClick="javascript:DetachIt('#p_{{ p._id }}', '{{ p.I_S_codename }}')" class="pointer linknav">o</a></div>
{% endif %}
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_codename:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_codename_{{ p._id }} size=20 value="{{ p.I_S_codename }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_type:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_type_{{ p._id }} size=20 value="{{ p.I_S_type }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_type_this:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_type_this_{{ p._id }} size=30 value="{{ p.I_S_type_this }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_{{ p._id }} size=30 value="{{ p.I_S_name }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name_en:</div>
                <div style="float:right;" class="form-group">
                {% if p.I_S_name_en %}
                    <input type="text" name=I_S_name_en_{{ p._id }} size=30 value="{{ p.I_S_name_en }}">
                {% else %}
                    <input type="text" name=I_S_name_en_{{ p._id }} size=30 value="">
                {% endif %}
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name_he:</div>
                <div style="float:right;" class="form-group">
                {% if p.I_S_name_he %}
                    <input type="text" name=I_S_name_he_{{ p._id }} size=30 value="{{ p.I_S_name_he }}">
                {% else %}
                    <input type="text" name=I_S_name_he_{{ p._id }} size=30 value="">
                {% endif %}
                </div>
            </div>
            {% set t_chps = chapters %}
            {% for tag, dic in chapters.iteritems() %}
                {% if tag == p.I_S_codename %}
                    {% for item, vals in dic.iteritems() %}
                        <a href=/editspace/chapter:{{ current_user.author }}:{{ namespace }}:{{ vals["I_S_codename"] }}>{{ vals["title"] }}</a>, points: {{ vals["points"] }}<br>
                    {% endfor %}
                {% endif %}
            {% endfor %}

<script>
function RemoveIt(div, code) {
    if (confirm("Are you sure?")) {
        $( div ).remove();
        url = "/editspace/del_a_tag:{{ current_user.author }}:{{ namespace }}:" + code
        $.ajax({
            url: url,
            beforeSend: function() {
                $('#wait').show();
            },
            complete: function() {
                $('#wait').hide();
            },
            success: function(result){
                $('#done').show();
                $('#result').html(result.data).show();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            // if does not work with some browser extension or firewall's blocking async requests etc.
                alert("ouch! cannot delete, say it to the master!");
            }
        });
    }
}
function DetachIt(div, code) {
    if (confirm("Are you sure?")) {
        $( div ).remove();
        url = "/editspace/detach_a_tag:{{ current_user.author }}:{{ namespace }}:" + code
        $.ajax({
            url: url,
            beforeSend: function() {
                $('#wait').show();
            },
            complete: function() {
                $('#wait').hide();
            },
            success: function(result){
                $('#done').show();
                $('#result').html(result.data).show();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            // if does not work with some browser extension or firewall's blocking async requests etc.
                alert("ouch! cannot delete, say it to the master!");
            }
        });
        window.location.reload();
    }
}
</script>
