{% extends "base.html" %}
{% block title %}SciBook research notes :: analyst space{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:50px 20px 30px 50px;" align=left>
<form action="/editspace/save_tags:{{ current_user.author }}:{{ namespace }}:0" method="POST" name="form">
<h1>Редактор тэгов</h1>
{{ form.hidden_tag() }}
    <div style="height:25px;1200px;position:fixed">
        <div align=right style="float:right; margin:10px; width:800px">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>


    <div class="simplebar-content" align=center style="width:700px;padding:0 0 10px 0">
        <ul class="nav nav-tabs" style="margin-right:80px;">
            <li class="active"><a data-toggle="tab" href="#ill">Болезни</a></li>
            <li><a data-toggle="tab" href="#drugs">Препараты</a></li>
            <li><a data-toggle="tab" href="#conds">Условия</a></li>
            <li><a data-toggle="tab" href="#geo">Гео</a></li>
            <li><a data-toggle="tab" href="#new">Непривязанные</a></li>
        </ul>
        <div style="border-top:1px solid #DCDBFF; margin-top:-1px;"> </div>
        <div class="tab-content tab-bigcol" align=left style="padding:0 5px 0 10px;">
            <div id=ill class="tab-pane fade in active" style=margin-top:1px>
    {% set p_num = [1] %}
    {% for p in objects %}
        {% include "edit_tags.html" %}
    </div>
    {% if p_num.append(p_num.pop() + 1) %}{% endif %}
    {% endfor %}
            </div>
            <div id="drugs" class="tab-pane fade" style=margin-top:1px>
    {% set p_num = [1] %}
    {% for p in drugs %}
        {% include "edit_tags.html" %}
    </div>
    {% if p_num.append(p_num.pop() + 1) %}{% endif %}
    {% endfor %}
            </div>
            <div id="conds" class="tab-pane fade" style=margin-top:1px>
    {% set p_num = [1] %}
    {% for p in conditions %}
        {% include "edit_tags.html" %}
    </div>
    {% if p_num.append(p_num.pop() + 1) %}{% endif %}
    {% endfor %}
            </div>
            <div id="geo" class="tab-pane fade" style=margin-top:1px>
    {% set p_num = [1] %}
    {% for p in geo_objects %}
        {% include "edit_tags.html" %}
    </div>
    {% if p_num.append(p_num.pop() + 1) %}{% endif %}
    {% endfor %}
            </div>
            <div id="new" class="tab-pane fade" style=margin-top:1px>
        <b>привязка:</b>
        для I_S_type_this выбрать 1 из 4: disease, drug, condition, geo<br>
        и перевести для поля I_S_name_*<br>
    {% set p_num = [1] %}
    {% for p in new_objects %}
        {% with new = 1 %}
        {% include "edit_tags.html" %}
        {% endwith %}
    </div>
    {% if p_num.append(p_num.pop() + 1) %}{% endif %}
    {% endfor %}
    {% if p_num == [1] %}
        <center>непривязанных тэгов нет</center>
    {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <div style="height:25px;980px;">
        <div style="float:left;180px" id=form_info></div>
        <div align=right style="float:right;800px">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
</div>
{% endblock %}
