{% extends "base.html" %}
{% block title %}SciBook research notes :: analyst space{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:50px 20px 30px 50px;" align=left>
<form action="/editspace/save_tags:{{ current_user.author }}:0" method="POST" name="form">
<h1>Редактор тэгов</h1>
{{ form.hidden_tag() }}
    <div style="height:25px;1200px;position:fixed">
        <div align=right style="float:right; margin:10px; width:800px">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>


    <div class="simplebar-content" align=center style="width:700px;padding:0 0 10px 0">
        <ul class="nav nav-tabs" style="margin-right:80px;">
            <li class="active"><a data-toggle="tab" href="#ill">Болезни</a></li>
            <li><a data-toggle="tab" href="#drugs">Препараты</a></li>
            <li><a data-toggle="tab" href="#conds">Условия</a></li>
            <li><a data-toggle="tab" href="#geo">Гео</a></li>
        </ul>
        <div style="border-top:1px solid #DCDBFF; margin-top:-1px;"> </div>
        <div class="tab-content tab-bigcol" align=left style="padding:0 5px 0 10px;">
            <div id=ill class="tab-pane fade in active" style=margin-top:1px>
    {% set p_num = [1] %}
    {% for p in objects %}
    <hr size=1 style="width:500px; color:#93a8fb; height:1px; background-color:#93a8fb; margin:0 0 10px 0px" align=left>
        <div style="height:100%;" id="p_{{ p._id }}">
            <div style="display:table-row; height:25px;"><b>Tag #{{ p_num|join }}</b>:</div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_codename:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_codename_{{ p._id }} size=20 value="{{ p.I_S_codename }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_type:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_type_{{ p._id }} size=20 value="{{ p.I_S_type }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_type_this:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_type_this_{{ p._id }} size=30 value="{{ p.I_S_type_this }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_{{ p._id }} size=30 value="{{ p.I_S_name }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name_en:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_en_{{ p._id }} size=30 value="{{ p.I_S_name_en }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name_he:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_he_{{ p._id }} size=30 value="{{ p.I_S_name_he }}">
                </div>
            </div>
    </div>
    {% if p_num.append(p_num.pop() + 1) %}{% endif %}
    {% endfor %}
            </div>
            <div id="drugs" class="tab-pane fade" style=margin-top:1px>
    {% set p_num = [1] %}
    {% for p in drugs %}
    <hr size=1 style="width:500px; color:#93a8fb; height:1px; background-color:#93a8fb; margin:0 0 10px 0px" align=left>
        <div style="height:100%;" id="p_{{ p._id }}">
            <div style="display:table-row; height:25px;"><b>Tag #{{ p_num|join }}</b>:</div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_codename:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_codename_{{ p._id }} size=20 value="{{ p.I_S_codename }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_type:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_type_{{ p._id }} size=20 value="{{ p.I_S_type }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_type_this:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_type_this_{{ p._id }} size=30 value="{{ p.I_S_type_this }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_{{ p._id }} size=30 value="{{ p.I_S_name }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name_en:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_en_{{ p._id }} size=30 value="{{ p.I_S_name_en }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name_he:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_he_{{ p._id }} size=30 value="{{ p.I_S_name_he }}">
                </div>
            </div>
    </div>
    {% if p_num.append(p_num.pop() + 1) %}{% endif %}
    {% endfor %}
            </div>
            <div id="conds" class="tab-pane fade" style=margin-top:1px>
    {% set p_num = [1] %}
    {% for p in conditions %}
    <hr size=1 style="width:500px; color:#93a8fb; height:1px; background-color:#93a8fb; margin:0 0 10px 0px" align=left>
        <div style="height:100%;" id="p_{{ p._id }}">
            <div style="display:table-row; height:25px;"><b>Tag #{{ p_num|join }}</b>:</div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_codename:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_codename_{{ p._id }} size=20 value="{{ p.I_S_codename }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_type:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_type_{{ p._id }} size=20 value="{{ p.I_S_type }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_type_this:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_type_this_{{ p._id }} size=30 value="{{ p.I_S_type_this }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_{{ p._id }} size=30 value="{{ p.I_S_name }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name_en:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_en_{{ p._id }} size=30 value="{{ p.I_S_name_en }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name_he:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_he_{{ p._id }} size=30 value="{{ p.I_S_name_he }}">
                </div>
            </div>
    </div>
    {% if p_num.append(p_num.pop() + 1) %}{% endif %}
    {% endfor %}
            </div>
            <div id="geo" class="tab-pane fade" style=margin-top:1px>
    {% set p_num = [1] %}
    {% for p in geo_objects %}
    <hr size=1 style="width:500px; color:#93a8fb; height:1px; background-color:#93a8fb; margin:0 0 10px 0px" align=left>
        <div style="height:100%;" id="p_{{ p._id }}">
            <div style="display:table-row; height:25px;"><b>Tag #{{ p_num|join }}</b>:</div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_codename:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_codename_{{ p._id }} size=20 value="{{ p.I_S_codename }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_type:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_type_{{ p._id }} size=20 value="{{ p.I_S_type }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_type_this:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_type_this_{{ p._id }} size=30 value="{{ p.I_S_type_this }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_{{ p._id }} size=30 value="{{ p.I_S_name }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name_en:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_en_{{ p._id }} size=30 value="{{ p.I_S_name_en }}">
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">I_S_name_he:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=I_S_name_he_{{ p._id }} size=30 value="{{ p.I_S_name_he }}">
                </div>
            </div>
    </div>
    {% if p_num.append(p_num.pop() + 1) %}{% endif %}
    {% endfor %}
            </div>
        </div>
    </div>
    <br>
        <div id="pnt_target_{{ p_num|join }}" style="width:500px;border:"></div>
    <br>
    <div style="height:25px;980px;">
        <div style="float:left;180px" id=form_info></div>
        <div align=right style="float:right;800px">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
</div>
{% raw %}
<script id="pnt_tmpl" type="x-tmpl-mustache">
    <div style="height:100%;" id="pnt_{{ rnum }}">
    <hr size=1 style="width:500px; color:#93a8fb; height:1px; background-color:#93a8fb; margin:0 0 10px 0px" align=left>
         <div style="display:cell;margin:-20px 0 0 1080px;12px; float:right; position:absolute" id=pcross>
            <a onClick = "javascript:RemoveOneDiv('#pnt_{{ rnum }}')" class="pointer linknav"><font color="#4d4df6" size=5>×</font></a>
         </div>
             <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">paper's ID (pubmed/doi/PMC):</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=pointPID_{{ nID }} size=20>
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">paper's date:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=pointPdate_{{ nID }} size=20>
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">paper's authors:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=pointPauths_{{ nID }} size=30>
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">publication place (journal/channel):</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=pointPub_{{ nID }} size=30>
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">geo location:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=pointGeo_{{ nID }} size=30>
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">tags:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=pointTags_{{ nID }} size=30>
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">image:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=pointImage_{{ nID }} size=30>
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">image source: (link)</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=pointIsource_{{ nID }} size=30>
                </div>
            </div>
            <div style="display:table-row; height:25px;">
                <div style="float:left;width:250px" class="form-group">image description:</div>
                <div style="float:right;" class="form-group">
                    <input type="text" name=pointIdescr_{{ nID }} size=30>
                </div>
            </div>
        </div>
</script>
<script id="swap_tmpl" type="x-tmpl-mustache">
<input type="hidden" name=pointNewID_{{ curId }} size=2 value="{{ newId }}">
</script>
{% endraw %}
<script>
function loadTmpl(thtml, target, div, cnt, id, rcnt) {
    a2 = cnt // appeded to this item
    if (rcnt == 0 || id == 'pcross') {
        rcnt = $("div[id^=pnt_]").length + 1;
        cnt = 0
    }
    if (id != 'pcross') {
        $( div ).remove()
    }
    cnt += 1;
    template = $(thtml).html();
    Mustache.parse(template);
    nID = a2 + rcnt/1000;
    $(target).append(Mustache.render(template, {num: cnt, rnum: rcnt, a2: a2, nID: nID}));
}
</script>
{% endblock %}
