<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fileinput.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/core-dataTables.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/core.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/datatables.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/jquery-ui.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.highlight.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/dataTables.searchHighlight.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/show-hide.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/validator.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/fileinput.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/fileinput_locale_es.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
</head>
<body>
{% include "navbar.html" %}
{% include "flash.html" %}
<div style="margin:5px;">
    <div style="float:left; width:10%; margin:50px 5px 5px 10px">
        <ul style="margin:0; padding:0 0 10px 15px; list-style-type:square">
        {% for entry in objects %}
            <li style="color:#4d4df6"><a href="/browse/{{ entry.I_S_codename }}">{{ entry.I_S_name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div id="container" style="float:right; width:88%;">
            {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.smartmenus.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.smartmenus.bootstrap.min.js') }}"></script>