<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fileinput.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/core-dataTables.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/core.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/datatables.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/jquery-ui.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.highlight.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/dataTables.searchHighlight.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/show-hide.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/validator.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/fileinput.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/fileinput_locale_es.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/highlightRegex.js') }}"></script>
<!--    <script type=text/javascript src="{{ url_for('static', filename='js/mouse_wheel.js') }}"></script> -->
</head>
<body>
{% include "navbar.html" %}
<div id="masthead"><a name="top"></a>
</div>
<div>
  <div class="row" style="margin:5px; width:100%">
    <div class=col-md-3 style="width:20%; margin:50px 5px 0 20px" id=left>
    <div id=sidebar align=center style="max-width:302px">
        <ul class="nav nav-tabs" id=sidebar style="margin-right:80px">
            <li class="active"><a data-toggle="tab" href="#ill">Болезни</a></li>
            <li><a data-toggle="tab" href="#drugs">Препараты</a></li>
            <li><a data-toggle="tab" href="#conds">Условия</a></li>
        </ul>
        <div style="border-top:1px solid #e1e6f0; margin-top:-1px;"> </div>
        <div class="tab-content tab-col" align=left>
            <div id=ill class="tab-pane fade in active">
                <ul class="leftmenu">
                {% for entry in objects %}
                    <li style="color:#4d4df6" class="leftnav">
                        <a href="/browse/obj/{{ entry.I_S_codename }}" class="leftnav">{{ entry.I_S_name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div id="drugs" class="tab-pane fade">
                <ul class="leftmenu">
                {% for entry in drugs %}
                    <li style="color:#4d4df6" class="leftnav">
                        <a href="/browse/obj/{{ entry.I_S_codename }}" class="leftnav">{{ entry.I_S_name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div id="conds" class="tab-pane fade">
                <ul class="leftmenu">
                {% for entry in conditions %}
                    <li style="color:#4d4df6" class="leftnav">
                        <a href="/browse/obj/{{ entry.I_S_codename }}" class="leftnav">{{ entry.I_S_name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <small>↑ scrollable with mouse over ↑</small>
    </div>
    </div>
    <div class=col-md-6 style="width:58%;">
        {% include "flash.html" %}
        {% block content %}{% endblock %}
    </div>
    <div class=col-md-3 style="width:12%; margin:55px 5px 0 0">
        <ul id="rightbar" style="padding:0 0 0 15px; list-style-type:square">
            {% for entry in geo_objects %}
                <li style="color:#4d4df6" class="rightnav">
                    <a href="/browse/seg/{{ entry.I_S_codename }}" class="rightnav">{{ entry.I_S_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
  </div>
</div>
<script type='text/javascript'>
$(document).ready(function() {
    var $body   = $(document.body);
    var navHeight = $('.navbar').outerHeight(true);
    $('#sidebar').affix({
        offset: {
            top: 1,
            bottom: navHeight
        }
    });
    $('#rightbar').affix({
        offset: {
            top: 1,
            bottom: navHeight
        }
    });
    $body.scrollspy({
            target: '#sidebar',
            offset: navHeight
    });
});
</script>
</body>
</html>
<!-- Bootstrap core JavaScript
================================================== -->
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.smartmenus.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.smartmenus.bootstrap.min.js') }}"></script>