<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fileinput.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/core-dataTables.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/core.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/datatables.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/jquery-ui.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.highlight.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/dataTables.searchHighlight.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/show-hide.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/validator.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/fileinput.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/fileinput_locale_es.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/highlightRegex.js') }}"></script>
</head>
<body>
{% include "navbar.html" %}
<div id="masthead"><a name="top"></a>
</div>
<div>
  <div class="row" style="margin:5px; width:100%">
    <div class=col-md-3 style="width:18%; margin:60px 5px 0 0" id=leftbar   >
        <ul style="list-style: none; font-size:17px;" id=leftbar>
          <li><span style="margin:0 0 0 3px">Изложение по главам:</span></li>
          <li><a href="/intro/vaccines" class="linknav">Введение</a></li>
          {% for entry in items %}
              <li class="sqnav"><a href="/content/{{ entry.namespace }}/{{ entry.I_S_codename }}" class="linknav">
                <div style="display:inline-block; min-width:25px; text-align:right; padding-right:5px">{{ loop.index }}.</div>
                {{ entry.I_S_name }}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
    <div class=col-md-6 style="width:54%;">
        {% include "flash.html" %}
        {% block content %}{% endblock %}
    </div>
    <div class=col-md-3 style="width:23%; margin:55px 0 0 0">
    <div align=center style="max-width:352px;" id=sidebar>
        <ul class="nav nav-tabs" style="margin-right:80px">
            <li class="active"><a data-toggle="tab" href="#ill">Болезни</a></li>
            <li><a data-toggle="tab" href="#drugs">Препараты</a></li>
            <li><a data-toggle="tab" href="#conds">Условия</a></li>
            <li><a data-toggle="tab" href="#geo">Гео</a></li>
        </ul>
        <div style="border-top:1px solid #e1e6f0; margin-top:-1px;"> </div>
        <div class="tab-content tab-col" align=left>
            <div id=ill class="tab-pane fade in active" style=margin-top:1px>
                <ul class="sqmenu">
                {% for entry in objects %}
                    <li style="color:#4d4df6" class="sqnav">
                        <a href="/browse/obj/{{ entry.I_S_codename }}" class="sqnav">{{ entry.I_S_name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div id="drugs" class="tab-pane fade" style=margin-top:5px>
                <ul class="sqmenu">
                {% for entry in drugs %}
                    <li style="color:#4d4df6" class="sqnav">
                        <a href="/browse/obj/{{ entry.I_S_codename }}" class="sqnav">{{ entry.I_S_name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div id="conds" class="tab-pane fade" style=margin-top:5px>
                <ul class="sqmenu">
                {% for entry in conditions %}
                    <li style="color:#4d4df6" class="sqnav">
                        <a href="/browse/obj/{{ entry.I_S_codename }}" class="sqnav">{{ entry.I_S_name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div id="geo" class="tab-pane fade" style=margin-top:5px>
                <ul  class="sqmenu">
                    {% for entry in geo_objects %}
                        <li style="color:#4d4df6" class="rightnav">
                            <a href="/browse/geo/{{ entry.I_S_codename }}" class="rightnav">{{ entry.I_S_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <small>↑ scrollable with mouse over ↑</small>
    </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
$(document).ready(function() {
    var $body   = $(document.body);
    var navHeight = $('.navbar').outerHeight(true);
    $('#sidebar').affix({
        offset: {
            top: 1,
            bottom: navHeight
        }
    });
    $body.scrollspy({
            target: '#sidebar',
            offset: navHeight
    });
    $('#leftbar').affix({
        offset: {
            top: 1,
            bottom: navHeight
        }
    });
    $body.scrollspy({
            target: '#leftbar',
            offset: navHeight
    });
});
</script>
</body>
</html>
<!-- Bootstrap core JavaScript
================================================== -->
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.smartmenus.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.smartmenus.bootstrap.min.js') }}"></script>