{% extends "base.html" %}
{% block title %}Spell out scientific service :: CMS {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:50px 20px 30px 10px;" align=left>
<h1>Edit your space</h1>

{% for ns in namespaces %}
<h3>for existing namespace</h3>
<b>{{ ns.namespace }}:</b> <a href="/editspace/chapter:{{ current_user.author }}:{{ ns.namespace }}:0">add a chapter</a>
or <a href="/editspace/intro:{{ current_user.author }}:{{ ns.namespace }}">edit introduction</a>
<p>or
<div style="margin:-20px 0 0 40px;">
    {% if chapters and chapters[ ns.namespace ] %}
<h3>choose chapter to edit in <b>{{ ns.namespace }}</b>:</h3>
 <div style="display: table;">
  <div style="display:table-row;">
    <div style="display:table-cell; width:30px; margin:2px"></div>
    <div style="display:table-cell; width:300px; margin:2px"><i>chapter</i></div>
    <div style="display:table-cell; width:200px; margin:2px"><i>added on</i></div>
  </div>
        {% for ch in chapters[ ns.namespace ]  %}
            {% set lst = ch.split('|') %}
  <div style="display:table-row;">
    <div style="display:table-cell; width:30px; margin:2px">{{ loop.index }}.</div>
    <div style="display:table-cell; width:300px; margin:2px">
        <a href="/editspace/chapter:{{ current_user.author }}:{{ ns.namespace }}:{{ lst[1] }}">{{ lst[0] }}</a>
    </div>
    <div style="display:table-cell; width:200px; margin:2px">{{ lst[2] }}</div>
  </div>
        {% endfor %}
 </div>
    {% endif %}
</div>
{% endfor %}
<br>or
<h3>start a new namespace of research notes:</h3>
<a href="/editspace/intro:{{ current_user.author }}:0">create a namespace</a>

{% endblock %}