{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:35px 30px 30px 0px;">
{% for entry in idata %}
    <div style="margin:10px 0 0 0">
        <div style="height:60px">
            <div style="float:left"><h1>{{ entry.title }}</h1></div>
            <div style="float:right"><h4 style="text-align:right"><a href="" class="linknav">{{ entry.analyst }}</a></h4></div>
        </div>
        <div style="margin:0 45px 0 0; line-height:16px" align=right><font color="#2d2df6">{{ entry.epigraph.text | safe }}<br>
            <em>{{ entry.epigraph.source }}</em>
            {% if entry.epigraph.link %}
                <small><a href={{ entry.epigraph.link }}>источник</a></small>
            {% endif %}
            </font>
        </div>
        <div style="margin:10px 5px; 0 0" align=right>
            <small style="background-color:#e1e6f0;margin:5px">{{ entry.date }}</small>
        </div>
        <div style="margin:10px 50px 0 0; text-align:justify">
        {{ entry.intro | rehref | safe}}
        </div>
    </div>
    <ol style="margin:20px 40px 10px 0px;">
    {% for pnt in entry.points %}
        {% if pnt.header %}
        <h3>{{ pnt.header | safe }}</h3>
        {% endif %}
        <li style="margin:10px; text-align:justify">
            {% if pnt.title %}
                <b><a href="{{ pnt.link }}" rel="nofollow">{{ pnt.title }}</a></b>
            <em>
                {% if pnt.info_date %}
                    {{ pnt.info_date }},
                {% endif %}
                {% if pnt.info_authors %}
                    {{ pnt.info_authors }},
                {% endif %}
                {% if pnt.info_place%}
                    {{ pnt.info_place }}
                {% endif %}
            </em><br>
            {% endif %}
            <p style="text-align:justify">{{ pnt.digest | rehref | safe  }}
            {% if pnt.info_img %}
                <div style="height:400px;width:800px;margin:10px 20px 40px 0">
                    <img src="{{ pnt.info_img }}" hspace=5 vspace=5>
                    {% if pnt.info_imgSource %}
                    <p align=right><a href="{{ pnt.info_imgSource }}">источник</a>
                </div>
                    {% else %}
                </div>
                {% endif %}
                {% if pnt.info_imgDesc %}
                    <br>
                    {{ pnt.info_imgDesc }}
                {% endif %}
            {% endif %}
            {% if pnt.img_pool %}<br>
                {% for img in pnt.img_pool %}
                <div style="height:400px;width:800px;margin:20px 0 20px 0">
                    <img src="{{ img.info_img }}" hspace=5 vspace=5 width=800>
                    {% if img.info_imgSource %}
                        <p align=right><a href="{{ img.info_imgSource }}">источник</a>
                </div>
                {% else %}
                </div>
                    {% endif %}
                    {% if img.info_imgDesc %}
                        <br>
                        {{ img.info_imgDesc }}
                    {% endif %}
                <br>
                {% endfor %}
            {% endif %}
            {% if pnt.sources_pool %}<br>
                {% for src in pnt.sources_pool %}
                    <div>
                    <a href="{{ src.link }}">{{ src.title }}</a>
                    <em>
                        {% if src.info_date %}
                            {{ src.info_date }},
                        {% endif %}
                        {% if src.info_authors %}
                            {{ src.info_authors }},
                        {% endif %}
                        {% if src.info_place%}
                            {{ src.info_place }}
                        {% endif %}
                    </em>
                    </div>
                {% endfor %}
            {% endif %}
        </li>
    {% endfor %}
    </ol>
    <div style="margin:10px 100px 10px 10px; text-align:justify">
    {{ entry.summary | rehref | safe  }}
    {% include "bottom_nav.html" %}
    </div>
    <div style="height:50px; margin:10px 25px 20px 5px;">
        <div style="float:left">
            <a href="/intro/{{ entry.namespace }}" class="linknav" style="margin:15px;">Введение</a>
            <p>
            <a href="#top" style="border:0px; width:11px; margin:15px; text-decoration:none"><font color="#4d4df6" size=4>↑</font></a>
        </div>
        <div style="float:right" align=right>
            <a href="/chapters/{{ entry.namespace }}" class="linknav" style="margin:15px;">Оглавление</a>
            <p>
            <a href="#top" style="border:0px; width:11px; margin:15px; text-decoration:none"><font color="#4d4df6" size=4>↑</font></a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}