{% extends "base.html" %}
{% block title %}Spell out scientific service{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:50px 40px 10px 0;">
{% for entry in data %}
            <h4 style="text-align:right;"><a href="" class="linknav">{{ entry.analyst }}</a></h4>
            <h1 style="margin:-17px 0 0 0 ">{{ entry.subject }}</h1>
            <div  style="margin:0 0 10px 0" align=right><small>{{ entry.epigraph.text | safe }}<br>
            {{ entry.epigraph.source }}</small>
            </div>
            <p style="text-align:justify">{{ entry.intro | rehref | safe }}
            <div style="margin:10px 0 0 0; font-size:17px;height:30px;">
                <div style="float:left; margin-left:-3px">
                    <a id="opentxt" href="/intro/{{ entry.namespace }}" class="linknav">Введение</a>
                    <div style="display:inline"><span id="none"></span>
                        <span id="ihide" style="display:none; font-size:14px" onClick="javascript:hideDiv('ihide')" >
                            <a onClick="javascript:hideDiv('fill')" href="#" class="linknav">(спрятать)</a>
                        </span>
                    </div>
                </div>
                <div style="float:right; margin-right:-3px" align=right>
                    <div style="display:inline">
                        <span id="chide" style="display:none; font-size:14px" onClick="javascript:hideDiv('chide')" >
                            <a onClick="javascript:hideDiv('fill')" href="#" class="linknav">(спрятать)</a>
                        </span>
                    </div>
                    <a id="opencontent" href="/chapters/{{ entry.namespace }}" class="linknav">Оглавление</a>
                </div>
            </div>
<hr size=1 style="width: 92%; color:#93a8fb; height:1px; background-color:#93a8fb; margin:5px 0 5px 50px" align=center>
{% endfor %}
</div>
<div id="fill" class="boxed_sh" style="display:none; margin:-12px 40px 40px 0; padding:0 20px; ">
    <div id="wait" style="height:25px; display:none; padding:0 5px 0 500px;position:absolute">
        <img src="{{ url_for('static', filename='img/loading.gif') }}" style="margin:0 10px 0 20px" align="right">
    </div>
</div>
<script>
$(document).ready(function() {
  Retrieve('/intro/vaccines?div', "#none");
  $("#opentxt").bind('click', function(event) {
    event.preventDefault();
    Retrieve($(this).attr('href'), "#ihide");
  });
  $("#opencontent").bind('click', function(event) {
    event.preventDefault();
    Retrieve($(this).attr('href'), "#chide");
  });
  function Retrieve(url, hide) {
    $.getJSON({
            url: url,
            data: "div",
            contentType: "application/json; charset=utf-8",
            beforeSend: function() {
                $('#wait').show();
            },
            complete: function() {
                $('#wait').hide();
                $(hide).show();
            },
            success: function(result){
                $('#fill').html(result.data).show();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            // if does not work with some browser extension or firewall's blocking async requests etc.
                alert("does not work, probably due to installed browser extension");
            }
    });
  }
});
</script>
{% endblock %}



