{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<a name="top"></a>
<div style="margin:40px 30px 30px 0px;">
{% for entry in idata %}
    <div style="margin:10px 10px 0 0">
        <div style="height:60px">
            <div style="float:left"><h1>{{ entry.subject }}</h1></div>
            <div style="float:right"><h4 style="text-align:right">{{ entry.analyst }}</h4></div>
        </div>
        <div style="margin:0 0 10px 0" align=right><small>{{ entry.epigraph.text | safe }}<br>
            {{ entry.epigraph.source }}</small>
        </div>
        <div style="margin:20px 20px 10px 20px; text-align:justify">
        {{ entry.intro | safe}}
        </div>
    </div>
    <div align=right style="margin:10px 10px 0 0">{{ entry.date }}</div>
{% include "points.html" %}
{% endfor %}
</div>
<div style="height:30px; margin:0 20px 20px 5px">
    <div style="float:left">
        <a href="#top" style="border:0px; width:11px; margin:5px; text-decoration:none"><font color="#3F4659" size=4>↑</font></a>
    </div>
    <div style="float:right">
        <a href="#top" style="border:0px; width:11px; margin:5px; text-decoration:none"><font color="#3F4659" size=4>↑</font></a>
    </div>
</div>
{% endblock %}