{% extends "base.html" %}
{% block title %}Spell out scientific service{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:40px 0 30px 1%;">
{% for entry in idata %}
    <div style="margin:10px 0 0 0" align=left>
        <div style="height:60px; width:100%">
            <div style="float:left"><h1>{{ entry.subject }}</h1></div>
            <div style="float:right"><h4 style="text-align:right; margin:5px 0 5px 0"><a href="" class="linknav">{{ entry.analyst }}</a></h4></div>
        </div>
        <div style="margin:0 2% 0 0; line-height:16px" align=right><small>{{ entry.epigraph.text | safe }}<br>
                <em>{{ entry.epigraph.source }}</em></small>
        </div>
        <div style="margin:10px 2% 0 0; text-align:justify">
        {{ entry.intro | rehref | safe}}
        </div>
    </div>
    <div style="height:20px; margin:10px 10px 20px 0px; font-size:17px;">
        <div style="float:left; margin-left:-3px">
            <a href="/chapters/{{ entry.namespace }}" class="linknav">Оглавление</a>
        </div>
        <div style="float:right; margin: 0 15px 0 0">
            <small style="background-color:#e1e6f0;margin:5px">{{ entry.date }}</small>
        </div>
    </div>
    <div style="margin:0 0 40px 0" align=left>
        {% include "points.html" %}
    </div>
{% endfor %}
</div>
{% endblock %}