<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container" style="width:79.5%; margin:0 0 0 33px">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="/">/</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a href="/chapters/vaccines" style="font-size:17px">Прививки <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><span style="margin:0 0 0 20px">Изложение по главам:</span></li>
          <li><a href="/intro/vaccines">Введение</a></li>
          {% for entry in items %}
              <li><a href="/content/{{ entry.namespace }}/{{ entry.I_S_codename }}">
                <div style="display:inline-block; min-width:25px; text-align:right; padding-right:5px">{{ loop.index }}.</div>
                {{ entry.I_S_name }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="/search" method="POST" name="form" enctype="multipart/form-data">

        <div class="form-group" style="margin-left:137px;">
          <input type="text" class="form-control" placeholder="Поиск…" name=search>
        </div>
<!--        <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right hli" style="font-size:17px">
        <li>
            {% if current_user.is_authenticated %}
              {{ current_user.name }}, you logged in (<a href="/logout/">Logout</a>)
            {% else %}
              <a onClick="javascript:showDiv('lf')" style="cursor:pointer;">Login</a>
            {% endif %}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>