{% extends "base.html" %}
{% block title %}Spell out scientific service :: CMS {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:50px 20px 30px 10px;" align=left>

<h2>{{ current_user.author }}'s profile</h2>

<form action="/profile/{{ namespace }}" method="POST" name="form" enctype="multipart/form-data">
{{ form.hidden_tag() }}
{{ form.from_url }}
<h3>Поменять пароль</h3>
        <div>
            Old password:
            <hr>
            New password: <br>
            Please repeat it:
        </div>
Profile info:
    <div>
    </div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
<a href="/editspace/{{ current_user.author }}">Your materials</a>
</div>
{% endblock %}