#masthead {min-height:15px;color:#aaaacc;}
.affix-top,.affix{position: static;margin:-10px 0 0 0;}
@media (max-width: 480px) {
  #sidebar {font-size:90%}
}
@media (min-width: 760px) {
  #sidebar.affix-top {position: static;margin:10px 0 0 0;}
  #sidebar.affix-bottom {position: relative;}
  #sidebar.affix {position: fixed;margin:10px 0 0 0;}
  #sidebar {font-size:90%}
 .sbox {margin-left:108px}
 .wscreen {position:fixed}
}
a.sqnav, a.rightnav {color:#024d60;text-decoration:none;}
a.sqnav:hover, a.rightnav:hover {color:#DB7200;text-decoration:none;}

li.sqnav {padding:1px}
li.sqnav:hover {color:#DB7200;text-decoration:none;padding:1px}

li.rightnav {padding:1px}
li.rightnav:hover {color:#DB7200;text-decoration:none;padding:1px}

a.linknav {color:#024d60;text-decoration:none;padding:3px}
a.linknav:hover {color:#DB7200;text-decoration:none;padding:3px}
.boxed_sh {
  -moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;border:1px solid #555ce1;margin:15px 0 3px 3px;
  padding: 2px 2px 2px 2px;box-shadow: 4px 4px 6px #ddd;-moz-box-shadow: 4px 4px 6px #ddd;-webkit-box-shadow: 4px 4px 6px #ddd;background:#fff
}

.topnav {
  -moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;border:1px solid #555ce1;
  padding: 5px; box-shadow: 4px 1px 6px #EAE5FF;-moz-box-shadow: 4px 1px 6px #EAE5FF;-webkit-box-shadow: 4px 1px 6px #EAE5FF;
  min-width:600px;
  margin:0 15px 0 5px;
  background:#CDCCFF
}

.bootstrap-select > .btn {height: 25px;padding: 1px 14px 1px 7px;}
.tdv {vertical-align: top; width: 4%}
.wrap {font-family: monospace;word-wrap:break-word;}
input.long {width:900px;}
input.short {width:30px; height:14px; margin:5px 0 0 3px;}
.heading{height: 100px;line-height: 50px;margin-top: 10px;position: -webkit-sticky;position: sticky;top: 0px;}
img {max-width: 100%;max-height: 100%;}

.nav-tabs {display:flex;text-align: center; height:40px; width:304px}
.nav-tabs li {display: flex;text-align: center;padding-top:0px;padding-bottom:0px;flex: 1;}
.nav-tabs li a {flex: 1; }
.nav-tabs li.active {flex: 1; margin:0}
.tab-col {border-right:1px solid #c3c6f0;border-left:1px solid #8389f9;border-bottom:1px solid #c3c6f0;
    margin:0px; background:#DCDBFF;max-height:800px;max-width:365px;
    height:755px;
    /* for firefox:*/
    margin-right: -15px !important;
    overflow-y:auto;*/
}

.simplebar-content {
    overflow-y: hidden!important;
    overflow-x: hidden;
    -webkit-box-sizing: border-box!important;
            box-sizing: border-box!important;
    min-height: 100%!important;
}

.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 11px;
}

.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: 2px;
    min-height: 10px;
}

.tab-col::-webkit-scrollbar {
        width: 0 !important;
        display: none;
        background: transparent;
    }
.sqmenu{padding:10px 0 10px 10px; margin: 0 10px 0 20px; list-style-type:square}
.pointer {cursor: pointer; border:0px; width:15px; margin:3px; text-decoration:none}
