{% extends "base.html" %}
{% block title %}SciBook for everyone to study or learn the information from the sources{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="margin:55px 1% 10px 0; height:100%" align=left>
<h2 style="color:#52398C; margin-left:24px">Welcome!</h2>
<p style="font-size:110%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
We suggest to your attention <b style="color:#8389f9;">SciBook</b> — here we analyze various interesting and important topics, based on reliable sources, trying to adhere to scientific information. We put referrences to all our sources so that everyone can check and make up their own opinion or correct us. Do not believe us - Check it out for yourself!<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Let's start with one of the most important, may be, topics: health in the context of the mandatory vaccinations.
<p style="font-size:110%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Vaccinations</u>: what they are for, what is their effect, how they are designed and produced, what side effects can there be? Almost any medication has side effects. And vaccinations are hardly an exception.
<p style="font-size:110%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It does not matter how much time you have to study the material - your motivation is important: your children's health and / or curiosity.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thus…


<hr size=1 style="width: 70%; color:#93a8fb; height:1px; background-color:#93a8fb; margin:2% 0 0 15%" align=center>

{% for entry in data %}
            <h4 style="text-align:right;"><a href="" class="linknav">{{ entry.analyst }}</a></h4>
            <h1 style="margin:-25px 0 0 0 ">{{ entry.subject }}</h1>
            <div  style="margin:0 0 10px 0" align=right><small>{{ entry.epigraph.text | safe }}<br>
            <i>{{ entry.epigraph.source }}</i></small>
            </div>
            <p style="text-align:justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ entry.intro | rehref | safe }}
            <div style="margin:10px 0 0 0; font-size:17px;height:30px;">
                <div style="float:left; margin-left:-3px">
                    <a id="opentxt" href="/intro/{{ entry.namespace }}" class="linknav">Введение</a>
                    <div style="display:inline"><span id="none"></span>
                        <span id="ihide" style="display:none; font-size:14px" onClick="javascript:hideDiv('ihide')" >
                            <a onClick="javascript:hideDiv('fill')" href="#" class="linknav">(спрятать)</a>
                        </span>
                    </div>
                </div>
                <div style="float:right; margin-right:-3px" align=right>
                    <div style="display:inline">
                        <span id="chide" style="display:none; font-size:14px" onClick="javascript:hideDiv('chide')" >
                            <a onClick="javascript:hideDiv('fill')" href="#" class="linknav">(спрятать)</a>
                        </span>
                    </div>
                    <a id="opencontent" href="/chapters/{{ entry.namespace }}" class="linknav">Оглавление</a>
                </div>
            </div>
<hr size=1 style="width: 70%; color:#93a8fb; height:1px; background-color:#93a8fb; margin:1% 0 0 15%" align=center>
<div id="fill" class="boxed_sh" style="display:none; margin:-12px 1% 80px 0; padding:0 2%; ">
    <div id="wait" style="height:25px; display:none; padding:0 5px 0 500px;position:absolute">
        <img src="{{ url_for('static', filename='img/loading.gif') }}" style="margin:0 10px 0 20px" align="right">
    </div>
</div>
{% endfor %}
</div>
<script>
$(document).ready(function() {
  Retrieve('/en/intro/vaccines?div', "#none");
  $("#opentxt").bind('click', function(event) {
    event.preventDefault();
    Retrieve($(this).attr('href'), "#ihide");
  });
  $("#opencontent").bind('click', function(event) {
    event.preventDefault();
    Retrieve($(this).attr('href'), "#chide");
  });
  function Retrieve(url, hide) {
    $.getJSON({
            url: url,
            data: "div",
            contentType: "application/json; charset=utf-8",
            beforeSend: function() {
                $('#wait').show();
            },
            complete: function() {
                $('#wait').hide();
                $(hide).show();
            },
            success: function(result){
                $('#fill').html(result.data).show();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            // if does not work with some browser extension or firewall's blocking async requests etc.
                alert("automatic div view does not work, probably due to installed browser extension");
            }
    });
  }
});
</script>
{% endblock %}



